body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: grey;
  justify-content: flex-start;
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  color: #eee;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: auto 1em;
}

header a:hover {
  color: aquamarine;
}

.card {
  background-color: lightseagreen;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* .card a:hover {
  color: black
} */

.homepageSection {
  display: flex;
  /* background-color: grey; */
}

.homepageIndiv {
  align-items: center;
  justify-content: center;
}
