body {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: grey;
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  color: #eee;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: auto 1em;
}

header a:hover {
  color: aquamarine;
}

.card {
  background-color: lightgray;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-family: cursive;
}

.card:hover {
  transform: scale(1.05);
}

.homepageSection {
  display: flex;
}

.homepage {
  background-color: whitesmoke;
}

.playHQ {
  color: white;
  margin: 0px;
  background-color: green;
}

.otherHomepageSection {
  display: inline;
}

.otherCard {
  display: flex;
  align-items: center;
  background-color: lightgray;
  margin: 10px;
  text-decoration: none;
  color: black;
  transition: 0.2s;
  font-family: cursive;
}

.otherCard:hover {
  transform: scale(1.05);
}
